*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: grey url(./picture/wallhaven.jpg) no-repeat center center;
    background-size: cover;
}
header{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 60px;
}
header>h1{
    letter-spacing: 3px;
}
form{
    margin-top: 30px;
}
.submit{
    background-color: #38F;
    color:white;
    width: 100px;
    height: 40px;
    border: 1px solid transparent;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top:1px;
    right: 0
}
.wd{
    height: 37px;
    width: 525px;
    font-size: 17px;
}
main .wrapper{
    margin-top: 50px;
    width:855px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    background-color: rgba(0, 0, 0,0.2)
}
main .wrapper>div{
    margin: 9px auto;
}
main .wrapper>div:nth-child(1){
    margin-left: 2em;
}
main .wrapper>div:nth-child(2){
    margin-left: 3.5em;
}
main .wrapper>div:nth-child(3){
    margin-left: 6em;
}
main .wrapper>div>kbd{
    display: inline-block;
    margin-left: 8px;
    font-size: 18px;
    font-family: "Heveltica";
    color:#eeefef;
    border-radius: 5px;
    text-transform: uppercase;
    width: 65px;
    height: 52px;
    padding-top: 5px;
    padding-left: 5px;  
    box-shadow: 0 0 0 1px #1a1b1c,0 1px 0 2px #1f2020,0 3px 0 2px #080808;
    background-image: linear-gradient(to bottom, #292929, black);
    position: relative;
}
main .wrapper>div>kbd:hover{
    box-shadow: 0 0 1px 1px #1a1b1c,0 1px 1px 2px #1f2020,0 3px 1px 2px #080808;
    color:white;
    transition: all 0.3s;
    
}
main .wrapper>div>kbd>button{
    position: absolute;
    bottom: 0;
    right:0;
    font-size: 12px;
    display: none;
}
main .wrapper>div>kbd:hover>button{
    display: inline-block;
    
}
.img{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
}
#fkbd,#jkbd{
    
}