*{
    margin: 0;
    padding: 0;
}
header{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 60px;
}
hearer>h1{
    display: inline-block;
}
form{
    margin-top: 30px;
}
.submit{
    background-color: #38F;
    color:white;
    width: 100px;
    height: 40px;
    border: 1px solid transparent;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top:1px;
    right: 0
}
.wd{
    height: 37px;
    width: 525px;
    font-size: 17px;
}
main .wrapper{
    margin-top: 50px;
    max-width:755px;
    margin-left: auto;
    margin-right: auto;
}
main .wrapper>div{
    margin: 48px auto;
}
main .wrapper>div:nth-child(2){
    margin-left: 1.5em;
}
main .wrapper>div:nth-child(3){
    margin-left: 4em;
}
main .wrapper>div>kbd{
    margin: 16px 8px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #eee;
    border-radius: 3px;
    text-transform: uppercase;
    padding:18px 24px 25px 24px;
    box-shadow: 0 2px 5px rgb(177, 161, 161);
    background-color: #dedede;
    position: relative;
}
main .wrapper>div>kbd:hover{
    background-color: #eee;
    box-shadow: 0 1px 5px #222;
    transition: all 0.3s;
}
main .wrapper>div>kbd>button{
    position: absolute;
    bottom: 0;
    right:0;
    font-size: 12px;
    display: none;
}
main .wrapper>div>kbd:hover>button{
    display: inline-block;
    
}
#fkbd,#jkbd{
    
}